body {
  background-color: rgba(178, 100, 100, 0.387);
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
margin: 0;
height: 100vh;
align-items: center;
display: flex;
min-height: 100vh;
flex-direction: column;
justify-content: center;
align-items: center;
}

.container{
height: 800px;
width: 800px;
padding: 25px;
display:flex;
background:rgb(255, 255, 255);
box-shadow: 0 10px 30px rgba(0,0,0,0.1);
border-radius: 10px;
}

.cards, .card, .view{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards{
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.cards .card{ 
  cursor: pointer;
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px)
}
.cards .card .view{
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  position: absolute;
  background: rgb(216, 62, 170);
  border-radius: 10px;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.5)
}
.card .front-view span{
  font-size: 45px;
  size: wrap;
}
.card .back-view {
transform: rotateY(-180deg);
}
.card .back-view img{
  max-width: 100px;
}
.card.flip .front-view{
  transform: rotateY(180deg);
}
.card.flip .back-view{
  transform: rotateY(0);
}